.select {
  box-sizing: border-box;
  position: absolute;
  top: 15vh;
  right: 5vw;
  height: 6vh;
  width: 12vw;
  text-indent: 1rem;
}
select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
  /* background: url(../xxx/xxx.jpg) calc(100% - 10px) center no-repeat; 自定义一个小sanji三角 */
}
