.filter-day {
  background-color: hsl(0, 0%, 100%);
}

.filter-night {
  background-color: hsl(209, 23%, 22%);
}

.filter {
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  top: 15vh;
  right: 5vw;
  line-height: 6vh;
  width: 12vw;
  text-indent: 1rem;
}

.filter p {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filter ul {
  max-height: 30vh;
  overflow: scroll;
  padding: 0;
  margin-top: 1vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filter li:hover {
  color: teal;
  font-weight: 600;
}

.icon {
  position: absolute;
  top: 17vh;
  right: 6vw;
}

.hidden {
  display: none;
}
