@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.dark-mode {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}

.day-mode {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
}

.dark-mode input,
.dark-mode select {
  color: white;
  background-color: hsl(209, 23%, 22%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.day-mode input,
.day-mode select {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dark-mode input::-webkit-input-placeholder {
  color: hsl(0, 0%, 98%);
}

.main {
  box-sizing: border-box;
  margin-left: 10vw;
  margin-right: 5vw;
}

.dark-mode li {
  background-color: hsl(209, 23%, 22%);
}

.day-mode li {
  background-color: hsl(0, 0%, 100%);
}

ul {
  margin-bottom: 0;
}

.shadowbox {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.back-btn-day,
.back-btn-night {
  display: block;
  margin: 5vh 0;
  width: 10vw;
  height: 5vh;
  color: inherit;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.back-btn-day {
  background-color: hsl(0, 0%, 100%);
}

.back-btn-night {
  background-color: hsl(209, 23%, 22%);
}

.img-detail {
  width: 35vw;
}

.info-sheet {
  position: absolute;
  top: 24vh;
  right: 5vw;
}
.info-sheet h2 {
  font-weight: 800;
}
.info-sheet td {
  padding: 0vh 8vw 2vh 0;
  font-size: 14px;
  max-width: 15vw;
}
